
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/8013f6a4-eada-418e-916b-78ce7191d986.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/acbb8a08-445a-4150-a082-95f62f977d72.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/eae8cc80-aacb-4eb2-a790-5758cbc091d1.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/863ef681-d02e-49f2-9c92-d54041cb0f8a.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/24667271-8ffc-4afd-a568-1a3d0dddfef6.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/7762689f-0c46-4652-a8d8-0013a0d8ba87.vsidx
