
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/8013f6a4-eada-418e-916b-78ce7191d986.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/acbb8a08-445a-4150-a082-95f62f977d72.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/eae8cc80-aacb-4eb2-a790-5758cbc091d1.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/863ef681-d02e-49f2-9c92-d54041cb0f8a.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/24667271-8ffc-4afd-a568-1a3d0dddfef6.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/7762689f-0c46-4652-a8d8-0013a0d8ba87.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/52fbd916-0ff9-4fc6-b811-c94ab2a607d9.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/371fd227-08b7-470a-a792-4a3264d1aac1.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/56f78ceb-4250-4253-9da4-441871d7f4eb.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/72fb99da-31bb-4597-bb85-99f73731dc21.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/f75b3dee-a1c2-4f04-8024-6e7aacd5611d.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/ab8cab53-5155-4761-afbd-6c9753b1ee5c.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/4576a3a5-6003-42b4-84ac-ca2a1c8eec56.vsidx
