
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/8013f6a4-eada-418e-916b-78ce7191d986.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/acbb8a08-445a-4150-a082-95f62f977d72.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/eae8cc80-aacb-4eb2-a790-5758cbc091d1.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/863ef681-d02e-49f2-9c92-d54041cb0f8a.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/24667271-8ffc-4afd-a568-1a3d0dddfef6.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/7762689f-0c46-4652-a8d8-0013a0d8ba87.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/52fbd916-0ff9-4fc6-b811-c94ab2a607d9.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/371fd227-08b7-470a-a792-4a3264d1aac1.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/56f78ceb-4250-4253-9da4-441871d7f4eb.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/72fb99da-31bb-4597-bb85-99f73731dc21.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/f75b3dee-a1c2-4f04-8024-6e7aacd5611d.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/ab8cab53-5155-4761-afbd-6c9753b1ee5c.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/4576a3a5-6003-42b4-84ac-ca2a1c8eec56.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/77e62256-a539-4639-9332-c4e32902cbcf.vsidx
exercicios/código c\#/codigoCsharp/.vs/codigoCsharp/FileContentIndex/2c826837-9078-4a70-8428-307b23a8046c.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/ab93e7da-6250-443d-a1f0-badfec709013.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/0a9389af-76cc-4533-af71-175e15fde8b7.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/66644f72-7d2d-4f56-86a9-59a47d28d13a.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/2771d678-50a1-4716-83dd-41d5aff3b233.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/672b4962-17a4-4cfc-930e-51eb9b9dcec3.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/a3b98692-c3d2-41f4-be17-3a9b23f9e361.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/b031da65-e702-4d77-aced-8f3c2935b9b2.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/a8fb52fa-a285-4ae6-9503-02cdb8590c5d.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/aa0caf0e-7a9b-4ba9-9bb9-8bd275870afc.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/50c49284-b488-41e8-8664-16220fd6cff5.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/4e735905-276b-4e30-a246-23e1ad1a5f3b.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/c0c99159-e59d-43c2-aaf7-8cadd94ac0bf.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/b12a1408-fffc-4e29-8f76-b240998a0836.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/c30919a1-4cd3-4ba3-aac3-609863cceafa.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/e3e889bb-5ecf-40eb-ac2e-19e6dd986b1d.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/fe22461a-4443-44d4-900a-fb7f029c8c15.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/1f2e3edc-bdea-487d-a420-ed4653490bab.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/1c2192bc-f6b4-467b-bd47-7cb600a48f87.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/52a008e5-1fe4-4342-9d01-b749ab44b565.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/fa3d2ffc-7a26-4379-8f1f-094431df32a1.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/f1e257f2-2f04-4222-8934-3c7c1f710356.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/0cd2e352-e93a-4c99-bd2b-eeb21aad5982.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/2a1a11f0-46b9-4e82-942c-c0d764a22570.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/c8484064-c29a-4b53-be66-b1a172b41b72.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/b916f4ce-36eb-404b-a53b-8aa10fee6464.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/37cefd75-1bee-4e00-9116-2c466906ea1b.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/be44db78-fe6b-4f8a-aa87-bb92cfd5b471.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/1e2b47ba-8185-4712-b360-554957d10656.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/9f1f6c83-a1e4-4cd9-b538-283c1f30d798.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/a54abe46-bc1b-4bd8-9eee-88fec386e279.vsidx
exercicios/código c\#/.vs/código c\#/FileContentIndex/e0cdd279-d8a4-4112-bde2-6d431a64098d.vsidx
exercicios/código c\#/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/913ced6c-8e57-49b0-a283-5579878128b2.vsidx
exercicios/código c\#/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/6a9f7eb8-976c-4c39-b797-ec10ac89a277.vsidx
exercicios/código c\#/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/eaac26c6-494f-44f3-a18d-0391de666037.vsidx
exercicios/código c\#/Sistema-de-estoque/.vs/Sistema-de-estoque/FileContentIndex/c5746694-150b-4a93-93c0-42689bb64154.vsidx
